@font-face {
	font-family: GalanoGrotesque-ExtraLight;
	src: local(GalanoGrotesque-ExtraLight),
		url('../fonts/Rene Bieder - Galano Grotesque ExtraLight.otf');
}
@font-face {
	font-family: GalanoGrotesque;
	src: local(GalanoGrotesque-Regular),
		url('../fonts/Rene Bieder - Galano Grotesque.otf');
}
@font-face {
	font-family: GalanoGrotesque-Medium;
	src: local(GalanoGrotesque-Medium),
		url('../fonts/Rene Bieder - Galano Grotesque Medium.otf');
}
@font-face {
	font-family: GalanoGrotesque-Bold;
	src: local(GalanoGrotesque-Bold),
		url('../fonts/Rene Bieder - Galano Grotesque Bold.otf');
}
